shamefully-hoist=true
virtual-store-dir-max-length=70
enable-pre-post-scripts=true


# 如果在中国网络环境中遇到 Electron 下载失败，请放开以下注释
# registry=https://registry.npmmirror.com
# ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
# ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# 然后在终端执行以下命令以确保配置生效
# pnpm install
# pnpm electron-fix