html {
  font-size: 14px !important;
}

.app-region-drag {
  -webkit-app-region: drag !important;
}

.app-region-no-drag {
  -webkit-app-region: no-drag !important;
}

.\*\:app-region-no-drag > * {
  -webkit-app-region: no-drag !important;
}

/* Customize the appearance of the scroll bar */
* {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }
}

.dark {
  * {
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #333333;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #888888;
    }
  }
}
