html {
  font-size: 14px !important;
}

/* 自定义滚动条的外观 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.gray.100');
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  @apply bg-gray-300 dark:bg-gray-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-300;
}
